SecRule REQUEST_HEADERS:Host OperatorType.PATTERN_LIKE "id:'1018',phase:1,nolog,deny,t:none,chain" deny
SecRule REQUEST_URI OperatorType.REGEX_OP "id:'6008',phase:1,nolog,auditlog,deny,status:403" deny
SecRule REQUEST_HEADERS:Host OperatorType.URI_LIKE "id:'6025',phase:1,nolog,deny,t:none,chain" deny
SecRule REQUEST_HEADERS:User-Agent OperatorType.USER_AGENT_LIKE "id:8112,phase:1,t:none,block,msg:'Bad user agent'" block
